$ltc-blue: #0073C6;
$ltc-green: #009F60;

$color-dark: #524632;
$color-mid: #dfd6a7;
$color-light: #e0f2e9;

$shadow: grayscale(darken($ltc-blue, 40%));

$arial-font-stack: Arial, "Helvetica Neue", Helvetica, sans-serif !default;
$roboto-font-stack: 'Roboto', sans-serif !default;
$bus-font-stack: 'VT323', 'Roboto', sans-serif !default;

// modular scale setup
$ms-base: 1em;
$ms-ratio: 1.333;
