* {
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  font-size: ms(0)
}


h1 {
  line-height: 1.1;
  font-size: ms(5);

}

h2 {
  line-height: 1.2;
  font-size: ms(4);
}

h3 {
  line-height: 1.3;
  font-size: ms(3);
}

h4 {
  line-height: 1.4;
  font-size: ms(2);
}