{
  "ecmaFeatures": {
    "jsx": true,
    "modules": true
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
  },
  rules: {
    "react/jsx-equals-spacing": [2, "never"],
    "react/jsx-indent": [2, 2]
  },
  "parser": "babel-eslint",
  "plugins": [
    "babel",
    "react"
  ],
  "extends": ["standard", "standard-react"]
}
