.wrapper {
  position: absolute;
  width: 100%;
  top: 5em;
  left: 0;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;

  @media (min-width:20em) {
    /* smartphones, iPhone, portrait 480x320 phones */

  }
  @media (min-width:30.063em) {
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */

  }
  @media (min-width:40.063em) {
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */

  }
  @media (min-width:60.063em) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */

  }
  @media (min-width:64.063em) {
    /* big landscape tablets, laptops, and desktops */

  }
  @media (min-width:80.063em) {
    /* hi-res laptops and desktops */

  }

}

.form {
  display: flex;
  padding: 0 4%;
  align-items: center;
  justify-content: center;
}

.search[data-react-toolbox="input"] {
  height: 5em;
  margin: 0 auto 1em;
  padding: 2em 0;

  input[name="stopID"] {
    text-align: center;
    box-shadow: inset 0 0 20px -10px $shadow;
    transition: .4s ease-out;

    &:focus {
      box-shadow: inset 0 0 20px -8px $ltc-green;
    }
  }

  input[name="stopID"],
  span[class*="material-icons"] {
    font-size: ms(0);
  }

  span[class*="material-icons"] {
    top: 1rem;
    left: -3.5rem;
  }
  @media (min-width:20em) {
    /* smartphones, iPhone, portrait 480x320 phones */

  }
  @media (min-width:30.063em) {
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */

  }
  @media (min-width:40.063em) {
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */

  }
  @media (min-width:60.063em) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */

  }
  @media (min-width:64.063em) {
    /* big landscape tablets, laptops, and desktops */

  }
  @media (min-width:80.063em) {
    /* hi-res laptops and desktops */

  }
}

.searchBtn {
  padding-top: .3em;


}
